#about {
    display: block;
    margin: 0 auto;
    padding: 0;
}

h2 {
    position: absolute;
    font-family: alcubierre, sans-serif;
    color: #f6f9f9;
    font-size: 36px;
}

p { 
    position: absolute;
    font-family: alcubierre, sans-serif;
    color: #f6f9f9;
    font-size: 25px;
}

#hi {
    top: 65px;
    left: 295px;
}

#hi-p{
    top: 130px;
    left: 295px;
}

#fun-facts { 
    top: 200px;
    left: 295px; 
}

#fun-facts-p {
    font-size: 20px;
    top: 270px;
    left: 295px;
}

#skill-set {
    top: 340px;
    left: 295px;
}

#skill-set-p {
    top: 414.2px;
    left: 305px; 
    font-size: 20px;
    line-height: 52px;
}

#download { 
    top: 435px;
    right: 60px;
    font-size: 20px;
    text-align: center;
}

#footnote { 
    font-size: 20px;
    top: 630px;
    left: 295px;
}
