#contact { 
    display: block;
}

#e-mail { 
    position: absolute;
    top: 50px;
    left: 45px;
    font-family: alcubierre, sans-serif;
    color: #f6f9f9;
    font-size: 50px;
}

.aquamarine { 
    color: #7fffd4;
}

p {
    position: absolute;
    top: 445px;
    left: 453px;
    text-align: center;
    font-family: alcubierre, sans-serif;
    color: #f6f9f9;
    font-size: 20px;
}
