#portrait {
    display: block;
    margin: 0 auto;
    padding: 0;
}

#first-name { 
    position: absolute;
    right: 38px;
    top: 0px; 
    font-family: alcubierre, sans-serif;
    font-size: 100px;
    color:#e6e7c7;
    text-shadow: -4px 2px 6px #999999;
}

#last-name {
    position: absolute;
    right: 42px;
    top: 80px; 
    font-family: alcubierre, sans-serif;
    font-size: 100px;
    color: #7fffd4;
    text-shadow: -4px 2px 6px #999999;
}
